/node_modules
/storage/*.key
/storage/logs/*.log
/storage/app/public/*
/*.zip
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/storage/.gitignore
composer.lock
package-lock.json
public/.rnd
public/install.scart
public/data
.rnd
/.env
